@charset "UTF-8";
.header {
    margin: 0 auto;
    width: 1000px;
    height: 60px;
    padding: 25px 0px 15px 0px;
}

.logo {
    float: left;
    width: 200px;
    height: 60px;
}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{*+height:1%;}
nav {
    float: right;
    width: 600px;
    height: 60px;
}

a.nava,
a.nava:link,
a.nava:hover,
a.nava:active,
a.nava:visited {
    display: block;
    float: left;
    width: 90px;
    height: 60px;
    padding-right: 3px;
    line-height: 60px;
    background: url(../images/navbg.jpg) center right no-repeat;
    text-align: center;
    font-family: "微软雅黑";
    color: #353535;
    font-size: 14px;
    font-weight: bolder;
}
.section {
    width: 100%;
    font-family: "微软雅黑";
}

.section-title {
    margin: 0 auto;
    width: 1200px;
    padding: 10px 0 30px 0;
    line-height: 70px;
    font-weight: bolder;
    font-size: 60px;
    color: #333;
    text-align: center;
}
.section-con{
    width: 1200px;
    margin: 20px auto
}


/** 块 **/
.section{
  width: 100%;
  min-width: 1225px;
  padding: 0;
}
.section.black{
  background: #202a34;
}
.section h1{
  margin: 0;
  padding: 60px 0 10px 0;
  text-align: center;
  font-family: "Microsoft YaHei" ;
  font-size: 44px;
  color: #333;
  font-weight: 300;
}
.section.black h1{
 color: #fff;
}
.section h1 span.red{
  color: #dd2121;
}
.section h1 span.yellow{
  color: #fee903;
}

.section h1 span.blue{
  color: #0088d1;
}
.section-title h1 span{
  color: #fe2626 ;
}

.section-title p {
    font-size: 24px;
    line-height: 38px;
    text-align: center;
    color: #333;
    font-weight: 300;
}
.section-content{
  max-width: 1200px;
  margin: 20px  auto 0 auto;
  text-align: center;
}
.section-content p{
  font-size: 20px;
  line-height: 42px;
}
.content-box-size{
  box-sizing: content-box;
  -moz-box-sizing: content-box; /* Firefox */
  -webkit-box-sizing:content-box; /* Safari */
}
.content-box-size *{
    box-sizing: content-box;
  -moz-box-sizing: content-box; /* Firefox */
  -webkit-box-sizing:content-box; /* Safari */
}


.banner{
  position: relative;
  height: 500px;
  background: url(../images/banner.jpg)  center center no-repeat;
  background-size: auto 100%;
}
.banner img{
  width: 100%;
}
.banner a{
  display: block;
  /*position: absolute;*/
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}




.banner-lh {
    position: absolute;
    right: 15px;
    top: 30px;
}

.banner-hadoop {
    font-family: "微软雅黑";
    font-size: 72px;
    color: #000000;
    font-weight: bolder;
    text-align: right;
    padding: 160px 15px 10px 0;
}

.banner-bigdata {
    float: right;
    margin-right: 58px;
    width: 360px;
    height: 50px;
    border: 1px solid #6e7273;
    text-align: center;
    line-height: 50px;
    font-family: "微软雅黑";
    font-size: 24px;
    color: #6e7273;
}

.banner-more {
    position: absolute;
    right: 120px;
    top: 310px;
    width: 135px;
    height: 40px;
    font-family: "微软雅黑";
    font-size: 20px;
    color: #ffffff;
    background: url(../images/bigdata-more.gif) #007c67 105px center no-repeat;
    padding: 0 0 0 15px;
    line-height: 40px;
    font-family: "微软雅黑";
}

.banner-bigdata span {
    font-size: 30px;
}

.banner-font {
    position: absolute;
    right: 100px;
    top: 410px;
    width: 444px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-family: "微软雅黑";
    font-size: 24px;
    color: #ffffff;
    background: url(../images/bigdata_font.gif) left center no-repeat;
    font-family: "微软雅黑";
}

.banner-course {
    position: absolute;
    width: 520px;
    height: 516px;
    padding: 90px 0 0 100px;
    background: url(../images/banner-bigdata.png) 40px 44px no-repeat;
}

.hadoop-course1 {
    position: absolute;
    left: 152px;
    top: 95px;
    width: 60px;
    height: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bolder;
    color: #ffffff;
}

.hadoop-course2 {
    position: absolute;
    left: 132px;
    top: 265px;
    width: 60px;
    height: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bolder;
    color: #000000;
}

.hadoop-course3 {
    position: absolute;
    left: 60px;
    top: 381px;
    width: 60px;
    height: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bolder;
    color: #ffffff;
}

.hadoop-course4 {
    position: absolute;
    left: 148px;
    top: 475px;
    width: 60px;
    height: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bolder;
    color: #000000;
}

.hadoop-course5 {
    position: absolute;
    left: 296px;
    top: 488px;
    width: 60px;
    height: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bolder;
    color: #ffffff;
}

.hadoop-course7 {
    position: absolute;
    left: 553px;
    top: 401px;
    width: 68px;
    height: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: bolder;
    color: #fff;
    line-height: 24px;
}

.hadoop-course6 {
    position: absolute;
    left: 426px;
    top: 467px;
    width: 60px;
    height: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bolder;
    color: #000000;
}

.reality {
    width: 100%;
    height: 168px;
    text-align: center;
    padding: 50px 0;
    background: #e9e9e9;
}

.bigdata-prospectsbg {
    width: 100%;
}

.bigdata-prospects-title {
    margin: 0 auto;
    width: 1000px;
    height: 70px;
    padding: 10px 0 30px 0;
    line-height: 70px;
    font-family: "微软雅黑";
    font-weight: bolder;
    font-size: 60px;
    color: #007c67;
    text-align: center;
}

.bigdata-prospects-subtitle {
    font-family: "微软雅黑";
    font-size: 22px;
    color: #444;
    text-align: center;
    margin: 0 0 60px 0;
}

.bigdata-prospects-con {
    margin: 0 auto;
    width: 600px;
    height: 409px;
    padding: 10px 0 0 350px;
    background: url(../images/shu.gif) left center no-repeat;
}

.bigdata-prospects-con p {
    width: 580px;
    padding: 6px 0;
    text-indent: 2em;
    line-height: 30px;
    font-family: "微软雅黑";
    font-weight: bolder;
    font-size: 14px;
    color: #000000;
}

.recruitmen-prospects-title {
    margin: 0 auto;
    width: 1000px;
    height: 50px;
    padding: 30px 0 0px 0;
    line-height: 50px;
    font-family: "微软雅黑";
    font-weight: bolder;
    font-size: 60px;
    color: #007c67;
    text-align: center;
}

.recruitmen {
    margin: 0 auto;
    width: 1000px;
    height: 400px;
    padding: 20px 0px 20px 0px;
}

.recruitmen-left {
    float: left;
    width: 300px;
    height: 400px;
}

.zhaopin {
    width: 280px;
    height: 85px;
    padding: 20px 0px;
}

.zhaopin-hover {
    width: 280px;
    height: 85px;
    padding: 20px 0px;
}

.recruitmen-right {
    float: right;
    width: 700px;
    height: 320px;
    padding: 30px 0 0 0;
    text-align: center;
}

.pro-title {
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    padding: 20px 0 0 0;
    color: #e54c24;
}

.pro-intro {
    font-size: 14px;
    color: #747474;
}

.webcourse-title {
    margin: 0 auto;
    width: 1000px;
    height: 40px;
    padding: 30px 0 0px 0;
    line-height: 40px;
    font-family: "微软雅黑";
    font-size: 30px;
    color: #16a086;
    text-align: center;
}

.webcourse-title2 {
    margin: 0 auto;
    width: 1000px;
    height: 30px;
    padding: 0 0 15px 0;
    line-height: 30px;
    font-family: "微软雅黑";
    font-size: 16px;
    color: #666666;
    text-align: center;
}

.frontier-coursesbg {
    width: 100%;
    height: 1200px;
    background: #e6e6e6;
}

.frontier-courses-title {
    margin: 0 auto;
    width: 1000px;
    height: 70px;
    padding: 20px 0 0px 0;
    line-height: 70px;
    font-family: "微软雅黑";
    font-weight: bolder;
    font-size: 32px;
    color: #027864;
    text-align: center;
}

.frontier-list {
    margin: 0 auto;
    width: 1000px;
    height: 207px;
    border-bottom: 1px solid #c8c8c8;
}

.frontier-list-left1 {
    float: left;
    width: 180px;
    border-right: 30px solid #e6e6e6;
    height: 142px;
    text-align: center;
    padding: 65px 0 0 0;
    background: url(../images/frontier-courses1.gif) left center no-repeat;
    font-family: "微软雅黑";
    font-weight: bolder;
    font-size: 18px;
    color: #ffffff;
}

.frontier-list-left1 span {
    font-size: 36px;
}

.frontier-list-left2 {
    float: left;
    width: 180px;
    border-left: 30px solid #e6e6e6;
    height: 142px;
    text-align: center;
    padding: 65px 0 0 0;
    background: url(../images/frontier-courses2.gif) right center no-repeat;
    font-family: "微软雅黑";
    font-weight: bolder;
    font-size: 18px;
    color: #ffffff;
}

.frontier-list-left2 span {
    font-size: 36px;
}

.frontier-list-left3 {
    float: left;
    width: 180px;
    border-right: 30px solid #e6e6e6;
    height: 142px;
    text-align: center;
    padding: 65px 0 0 0;
    background: url(../images/frontier-courses3.gif) left center no-repeat;
    font-family: "微软雅黑";
    font-weight: bolder;
    font-size: 18px;
    color: #ffffff;
}

.frontier-list-left3 span {
    font-size: 36px;
}

.frontier-list-left4 {
    float: left;
    width: 180px;
    border-left: 30px solid #e6e6e6;
    height: 142px;
    text-align: center;
    padding: 65px 0 0 0;
    background: url(../images/frontier-courses4.gif) right center no-repeat;
    font-family: "微软雅黑";
    font-weight: bolder;
    font-size: 18px;
    color: #ffffff;
}

.frontier-list-left4 span {
    font-size: 36px;
}

.frontier-list-left5 {
    float: left;
    width: 180px;
    border-right: 30px solid #e6e6e6;
    height: 142px;
    text-align: center;
    padding: 65px 0 0 0;
    background: url(../images/frontier-courses5.gif) left center no-repeat;
    font-family: "微软雅黑";
    font-weight: bolder;
    font-size: 18px;
    color: #ffffff;
}

.frontier-list-left5 span {
    font-size: 36px;
}

.frontier-list-right {
    float: left;
    width: 790px;
}

.frontier-list-right p {
    font-family: "微软雅黑";
    font-weight: bolder;
    font-size: 14px;
    color: #033333;
    line-height: 25px;
    padding: 60px 0 0 0;
}

.webcoursebg {
    width: 100%;
    height: auto;
    background: #f7f7f7;
    font-family: "微软雅黑";
}

.vs {
    margin: 0 auto;
    padding: 10px 0;
    width: 662px;
    height: 139px;
    background: url(../images/vs.gif) center center no-repeat;
    text-align: center;
}

.webcourse {
    margin: 0 auto;
    width: 950px;
    height: 1400px;
}

.webcourse-left {
    float: left;
    width: 476px;
    height: 900px;
}

.webcourse-right {
    float: left;
    width: 468px;
    height: 900px;
}

.bigdata-phasebg {
    width: 100%;
    height: auto;
    background: #ececec;
    font-family: "微软雅黑";
    text-align: center;
    padding: 0 0 20px 0;
}

.bigdata-phase-title {
    margin: 0 auto;
    width: 1000px;
    height: 70px;
    padding: 30px 0 30px 0;
    line-height: 70px;
    font-family: "微软雅黑";
    font-weight: bolder;
    font-size: 60px;
    color: #333;
    text-align: center;
}

.bigdata-phase-con {
    margin: 0 auto;
    width: 1200px;
}

.first-stage {
    margin: 0 auto;
    width: 720px;
    height: 300px;
    padding: 5px 0 5px 280px;
    background: #e5e5e5;
    background: url(../images/first-stage.gif) #e5e5e5 left center no-repeat;
}

.stageul li {
    display: block;
    float: left;
    width: 225px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    background: #cecece;
    border: 5px solid #e5e5e5;
    font-family: "微软雅黑";
}

.second-stage {
    width: 720px;
    height: 202px;
    margin: 10px 0 0 0;
    padding: 5px 0 5px 280px;
    background: #e5e5e5;
    background: url(../images/second-stage.gif) #e5e5e5 left center no-repeat;
}

.third-stage {
    width: 720px;
    height: 100px;
    margin: 10px 0 0 0;
    padding: 5px 0 5px 280px;
    background: #e5e5e5;
    background: url(../images/third-stage.gif) #e5e5e5 left center no-repeat;
}

.fourth-stage {
    width: 720px;
    height: 200px;
    margin: 10px 0 0 0;
    padding: 5px 0 5px 280px;
    background: #e5e5e5;
    background: url(../images/fourth-stage.gif) #e5e5e5 left center no-repeat;
}

.fifth-stage {
    width: 720px;
    height: 200px;
    margin: 10px 0 0 0;
    padding: 5px 0 5px 280px;
    background: #e5e5e5;
    background: url(../images/fifth-stage.gif) #e5e5e5 left center no-repeat;
}

.phase6-stage {
    width: 720px;
    height: 50px;
    margin: 10px 0 0 0;
    padding: 25px 0 20px 280px;
    background: #e5e5e5;
    background: url(../images/phase6-stag.gif) #e5e5e5 left center no-repeat;
}


/* 阶段 新*/

.stepup {
    width: 1200px;
    margin: 10px 0 0 0;
    position: relative;
    line-height: 0;
}
.stepup.step3,.stepup.step4{
	margin: 0;
} 

.stepup-no {
    background: #39997d;
    display: inline-block;
    color: #fff;
    font-size: 20px;
    width: 180px;
    margin-right: 10px;
    float: left;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 30px;
}
.stepup-no b{
  font-size: 24px;
}
.step2 .stepup-no {
    background: #f9a500;
}

.step3 .stepup-no {
    background: #f26463;
}

.step4 .stepup-no {
    background: #00b29c;
}
.step5 .stepup-no {
    background: #f27a19;
}
.stepup-no p {
    position: absolute;
    top: 50%;
    text-align: center;
    width: 100%;
    margin-top: -36px;
    padding: 0 10px;
    box-sizing: border-box;
}

.stepup .stepup-con {
    display: inline-block;
    margin-left: 180px;
    width: 995px;
    line-height: 25px;
    margin-top: 5px;
}


.stepup-con dl {
    float: left;
    margin: 0 5px 0 0;
}

.stepup-con dl:last-child {
    margin: 0;
}

.stepup-con dt,
.stepup-con dd {
    width: 195px;
}

.stepup-con dt {
    height: 35px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.project .stepup-no{
	background: #5912de;
}
.project .stepup-no p{
	line-height: 43px;
	margin-top: 0;
	position: static;
}


.project.step3 .stepup-con dl, .project.step4 .stepup-con dl {
    color: #fff;
    font-weight: normal;
    background: #5912de;
    height: 43px;
}
.project.step3 .stepup-con dt, 
.project.step4 .stepup-con dt {
	background: none;
	    line-height: 43px;


}

.stepup-con dd {
    min-height: 250px;
    padding-bottom: 10px;
    background: #fff;
}

.step2 dd {
    /*height: 355px;*/
}
.step3 dd {
   /*min-height: 335px;*/
}
.step4 dd {
   /*min-height: 444px;*/
}
.stepup-con li {
    font-size: 14px;
    padding: 5px 5px 5px 10px;
    text-align: left;
     overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.stepup-con dt {
    background: #39997d;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    line-height: 35px;
    text-align: left;
    padding-left: 10px;
    box-sizing: border-box;
}

.stepup-con dt span {
    color: #fbec00;
    font-size: 16px;
}

.step1 .stepup-con dt {
    background: #39997d;
}

.step2 .stepup-con dt {
    background: #f9a500;
}

.step3 .stepup-con dt {
    background: #f26463;
}

.step4 .stepup-con dt {
    background: #00b29c;
}
.step5 .stepup-con dt {
    background: #f27a19;
}
.jiuye {
    margin: 0 auto;
    padding: 20px 0px 0 0;
    width: 1000px;
    height: 1500px;
}

.jiuye-title {
    margin: 0 auto;
    width: 1000px;
    height: 70px;
    padding: 0px 0 0px 0;
    line-height: 70px;
    font-family: "微软雅黑";
    font-weight: bolder;
    font-size: 60px;
    color: #007c68;
    text-align: center;
}

.jiuye-title1 {
    margin: 0 auto;
    width: 1000px;
    height: 50px;
    padding: 0 0 15px 0;
    line-height: 50px;
    font-family: "微软雅黑";
    font-size: 24px;
    color: #000000;
    text-align: center;
}

.student-tu {
    margin: 0 auto;
    width: 1000px;
    height: 400px;
    text-align: center;
    padding: 10px 0 0 0;
}

.student-tu-left {
    width: 500px;
    height: 400px;
}

.student-tu-right {
    float: right;
    width: 500px;
    height: 400px;
}

.student-intro {
    font-family: "微软雅黑";
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    text-align: center;
    padding: 0 25px;
}

#jyandroid {
    height: 530px;
    overflow: hidden;
}


/* 项目新 **/
.project-section{
    background: #ececec;
    padding: 30px 0;
}
.project-section li{
    float: left;
}
.project-section li img{
    margin: 8px;
}
.project-section li p{
    text-align: center;
    font-size: 16px;
    padding: 10px 0;
}
.project-section .section-con{
    padding: 30px;
        background: #fff;
}
span.red {
    color: #dd2121;
}
.tlt-s1{
  position: relative;
  display: inline-block;
  padding: 10px;
}
.tlt-s1:before,
.tlt-s1:after{
  content: '';
  position: absolute;
  background: url(../images/title-left.png) 100% 100% no-repeat;
  display: block;
  width: 43px;
  height: 56px;
  top: 5px;
  left: -20px;
}
.tlt-s1:after{
  bottom: 0;
  right: -20px;
  left: auto;
  top: auto;
  background: url(../images/title-right.png) 100% 100% no-repeat;
}

/** 项目 #start **/
.xm-sec{
  background: #f5f5f5;
}
.xm-sec .section-content{
  padding-top: 20px;
  padding-bottom: 20px;
}
.xm-sec li{
  display: inline-block;
  padding: 0 10px;
  width: 150px;
  line-height: 60px;
  font-size: 22px;
  text-align: center;
  margin: 10px;
  background: #0d7cbc;
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
}
.xm-sec li.active{
  background-color: #ff9829;
}
.xmxz{
  margin: 80px auto ;
  position: relative;
}

.xmxz>div{
  display: none;
}
.xmxz>div.active{
  display: block;
}
.xm_img{
  width: 661px;
  float: left;
}
.xm_info{
  padding-left: 30px;
  text-align: left;
  height: 405px;
  overflow-y: auto;
  overflow-x: hidden;
}
.xm_info p{
  font-size: 16px;
    line-height: 32px;
    margin: 20px 0
}
.xm_info p b{
  background: #ff9829;
  padding: 3px 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
}
.xm_info p b.fx{
  background: #8c8c8c;
}

/** 项目 #end**/
/*android*/

.buzhou {
    margin: 0 auto;
    width: 999px;
    height: 433px;
    padding-bottom: 25px;
}

.androidmain {
    width: 998px;
    margin: auto;
    background: #ffffff;
    border: 1px solid #CCC;
    height: auto;
}

.androidt {
    width: 970;
    height: 105px;
    margin-left: 15px;
}

.androidt_l {
    width: 260px;
    float: left;
}

.androidt_m {
    width: 25px;
    padding-top: 45px;
    float: left;
}

.androidt_r {
    width: 670px;
    padding-top: 55px;
    float: left;
    font-family: 微软雅黑;
    font-weight: bold;
    font-size: 16px;
}

.androidt_rt {
    width: 680px;
    border-bottom: 1px solid #CCC;
    font-size: 14px;
    line-height: 36px;
    margin-bottom: 5px;
    font-weight: bold;
}

.androidt_rz {
    width: 680px;
}

.androidjy {
    margin-left: 5px;
    width: 980px;
    height: auto;
    font-size: 12px;
    line-height: 28px;
    font-family: '微软雅黑';
    border: 5px solid #e5e5e5;
    float: left;
}

.androidxf {
    width: 960px;
    margin: auto;
    font-size: 14px;
    font-family: '微软雅黑';
    line-height: 28px;
}

#jyandroid {
    height: 530px;
    overflow: hidden;
}

#jyandroid li {
    line-height: 40px;
    display: block;
}

#jyandroid li .span1 {
    width: 150px;
    text-align: center;
    float: left;
}

#jyandroid li .span2 {
    width: 150px;
    text-align: center;
    float: left;
}

#jyandroid li .span3 {
    width: 380px;
    text-align: center;
    float: left;
}

#jyandroid li .span4 {
    width: 300px;
    padding-left: 30px;
}

.wholestudent_l {
    width: 660px;
    margin-left: 17px;
    _margin-left: 8px;
    float: left;
}

.wholestudent_l li {
    width: 155px;
    height: 140px;
    padding-left: 10px;
    line-height: 20px;
    padding-bottom: 5px;
    float: left;
}

.wholestudent_r {
    width: 312px;
    float: right;
    line-height: 20px;
}

.wholestudent_r_title {
    width: 290px;
    line-height: 20px;
    margin: 0 0 5px 0;
}

.webjob {
    width: 980px;
    height: auto;
    float: left;
}

.webjob-title {
    margin: 5px 15px;
    width: 960px;
    height: 100px;
}

.webjob-money {
    width: 750px;
    height: 95px;
    float: left;
}

.webjob-money-title {
    font-size: 14px;
    font-family: '微软雅黑';
    line-height: 40px;
}

.qixin {
    width: 200px;
    height: 88px;
    padding-top: 7px;
    float: left;
}

.student-title {
    margin: 0 auto;
    width: 1000px;
    padding: 0 0 20px 0;
    height: 50px;
    line-height: 50px;
    font-family: "微软雅黑";
    font-size: 30px;
    color: #419c8b;
    font-weight: bolder;
    text-align: center;
}

.student-style {
    width: 100%;
    height: 264px;
    background: url(../images/student.jpg) center top repeat-x;
    text-align: center;
}

.student-stylefc {
    width: 100%;
    height: 264px;
    background: url(../images/studentfc.jpg) center top no-repeat;
}

.zixunbg {
    margin: 0px 0 0 0;
    width: 100%;
    height: 381px;
    background: url(../images/zixunbg.jpg) left top repeat-x;
}

.zixunbottom {
    margin: 0 auto;
    width: 1000px;
    height: 381px;
    text-align: center;
}

.bottombg {
    width: 100%;
    height: 290px;
    padding: 40px 0px 0 0;
    background: #333333;
}

.strengths {
    margin: 0 auto;
    width: 1000px;
    height: 89px;
    border-bottom: 1px solid #444444;
    margin-bottom: 40px;
}

.strengths ul {}

.strengths ul li {
    display: block;
    float: left;
    height: 60px;
    line-height: 60px;
    border-right: 1px solid #444444;
    font-size: 18px;
    color: #ffffff;
    font-family: "微软雅黑";
    padding: 0 0 0 123px;
}

.strengths1 {
    width: 202px;
    background: url(../images/bot1.png) 55px center no-repeat;
}

.strengths2 {
    width: 202px;
    background: url(../images/bot2.png) 55px center no-repeat;
    letter-spacing: 1px;
}

.strengths3 {
    width: 200px;
    background: url(../images/bot3.png) 55px center no-repeat;
}

.bottom {
    margin: 0 auto;
    width: 1000px;
    height: 160px background:#096
}

.bottom-part1 {
    float: left;
    width: 300px;
    padding: 20px 0 0 0;
}

.bottom-part2 {
    float: left;
    width: 150px;
    padding-right: 50px;
}

.bottom-part2 dl {}

.bottom-part2 dl dt {
    height: 35px;
    line-height: 35px;
}

.bottom-part2 dl dt {
    font-family: "微软雅黑";
    font-size: 18px;
    color: #ffffff;
    font-weight: bolder;
}

.bottom-part2 dl dd {
    height: 27px;
    line-height: 27px;
}

.bottom-part2 dl dd a {
    font-family: "微软雅黑";
    font-size: 14px;
    color: #6e6e6e;
}

.bottom-part2 dl dd {
    font-family: "微软雅黑";
    font-size: 14px;
    color: #6e6e6e;
}

.bottom-part3 {
    float: left;
    width: 150px;
    padding: 110px 0 0 0px;
    background: url(../images/code.jpg) center top no-repeat;
    text-align: center;
    font-family: "微软雅黑";
    font-size: 12px;
    color: #6e6e6e;
}

.copyright {
    width: 100%;
    padding: 10px 0px;
    height: 50px;
    line-height: 25px;
    background: #232323;
    color: #cccccc;
    font-family: "微软雅黑";
    text-align: center;
}

.ys-con {
    text-align: center;
    display: table;
    width: 1000px;
    margin: 0 auto;
}

.cell {
    display: table-cell;
    vertical-align: middle;
}

.row {
    display: table-row;
}

.ys-num {
    font-family: "微软雅黑";
    position: relative;
    margin: 45px 0;
    margin-left: 60px;
    width: 550px;
    height: 36px;
    line-height: 36px;
    font-size: 16px;
    font-weight: bold;
    color: #555;
    border: 1px solid #efefef;
    text-align: left;
}

.ys-num:before {
    content: '';
    background: url(../images/11.png) no-repeat;
    position: absolute;
    top: -17px;
    left: -37px;
    width: 37px;
    height: 55px;
}

.num2:before {
    background: url(../images/22.png) no-repeat;
  
    left: -36px;
}

.num3:before {
     top: -18px;
    background: url(../images/33.png) no-repeat;
}

.num4:before {
      top: -18px;
    background: url(../images/44.png) no-repeat;
}

/** 岗位 #start **/
.gw-sec{
  background: #f4fbf9;
  padding-bottom: 80px;
}
.gw-sec .section-content{
  padding-top: 20px;
}
.gw-sec li{
  display: inline-block;
  padding: 0 10px;
  width: 200px;
  line-height: 60px;
  font-size: 24px;
  text-align: center;
  margin: 20px;
  background: #82e5c3;
  border-radius: 10px;
  cursor: pointer;
}
.gw-sec li.active{
  background-color: #f9a500;
  color: #fff;
}
.gwxz{
  margin: 80px auto 0 auto;
  position: relative;
  background-color: #f1efef;
  border: 1px solid #dfdddd;
}
.gwxz h2{
  margin: 0;
  position: absolute;
  font-size: 24px;
  width: 332px;
  line-height: 58px;
  top: -29px;
  left: 50%;
  margin-left: -166px;
  color: #fff;
  background: url(../images/gw_tlt_bg.png) center;
}
.gwxz img{
  margin: 55px 25px 25px 25px;
}
.gwxz div{
  display: none;
}
.gwxz div.active{
  display: block;
}
/** 岗位 #end**/

/** 保证 #start **/

.bz-sec{
  background: url(../images/bz_bg.jpg) no-repeat center;
  background-size: auto 100%;
  height:846px; 
}
.bz-bg{
  position: relative;
  background: url(../images/bz_bg1.png) no-repeat center;
  background-size: auto 100%;
  width: 1173px;
  height:516px;
}

.bz-bg .s1,
.bz-bg .s2,
.bz-bg .s3,
.bz-bg .s4{
  position: absolute;
  top: 385px;
  left: -54px;
  width: 405px;
  line-height: 30px;
}
.bz-bg p{
 line-height: 28px;
 margin: 80px 0;
}
.bz-bg .s2{
        top: 194px;
    left: 230px;
}
.bz-bg .s3{
      top: 295px;
        left: 523px;
}
.bz-bg .s4{
      top: 127px;
    left: 773px;
}
.bz-bg p{
  font-size: 18px;
}
.bz-bg .s1 b,
.bz-bg .s2 b,
.bz-bg .s3 b,
.bz-bg .s4 b{
  display: block;
  font-size: 24px;
  color: #fff;
  font-weight: normal;
}
/** 保障 #end**/

/** 风采 #start**/
.students{     line-height: 0;margin:0 auto; width:100%; text-align:center; overflow:hidden; }
.students img{width: 100%;}

/**  就业 **/
.jy-sec{
    background: #f9f9f9;
}